<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <title>Weather App</title>
  <meta charset="utf-8">
</head>
<body>


  <div class='container'>
    <div class='row'>
      <div class='column'>
        <img src="/images/logo.png" alt='default logo' height=50 width=50> </img>
      </div>
      <div class='column'>
        <h1>Weather Zone</h1>
      </div>
    </div>
    <h1>Today's date is <%=kindOfDay%></h1>
    <!-- probably can delete -->
    <div class="box" id="heading">

    </div>
    <!-- use the for loop to iterater through and add to list -->
    <div class="container">
    <div class="row">
    <div class="col-12">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse"id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/forecast">4 Day Forecast</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/locations">My Locations</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/weathermap">WeatherMap</a>
            </li>
          </ul>
      </nav>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>
