  <title>WeatherMap</title>
  <div class='container'>
    <div class='row'>
      <div class='column'>
        <img src="/images/logo.png" alt='default logo' height=50 width=50> </img>
      </div>
      <div class='column'>
        <h1>Weather Zone</h1>
      </div>
    </div>
    <h1>Today's date is <%=kindOfDay%></h1>
    <!-- probably can delete -->
    <div class="box" id="heading">

    </div>
    <!-- use the for loop to iterater through and add to list -->
    <div class="container">
    <div class="row">
    <div class="col-12">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/forecast">4 Day Forecast</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/locations">My Locations</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/weathermap">WeatherMap</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
      </div>
      </div>
    <div class="box">
