<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <title></title>
</head>

<body class="diff-color">
  <div class='container'>
     <div class='row'>
       <div class='column'>
     <img src="/images/logo.png" alt='default logo' height=50 width=50>  </img>
       </div>
         <div class='column'>
     <h1>Weather Zone</h1>
     </div>
   </div>
  <h1>Today's date is <%=kindOfDay%> 2020</h1>
  <!-- probably can delete -->
  <div class="box">


      <form class="item" action="/locations" method="post">
        <div class="container">
        <div class="row">
        <div class="col-6">
        <input class="form-control mr-sm-2" type="text" name="location" placeholder="New Item" autocomplete="off">
        </div>
        <div class="col-6">
        <button type="submit" name="list" class="btn btn-light"> Add Location</button>
        </div>
        </div>

      </form>
      <table class="table table-dark">
      <tbody>
      <%for(i of cities){%>
      <td><%=i.city%></td>
      <td><%=Math.round(i.temp)%>°</td>
      <td><form class="item" action="/delete" method="post">
          <button type="submit" name="delete" value="<%=i._id%>" class="btn btn-light">Remove</button>
        </form></td>
     </tbody>


      <%}%>
      </table>
  </div>
  <!-- use the for loop to iterater through and add to list -->

  </body>
</html>
