<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <title>My first Leaflet example</title>
  <meta charset="utf-8">
</head>

<body class="diff-color">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/forecast">4 Day Forecast</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/locations">My Locations</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/weathermap">WeatherMap</a>
        </li>
      </ul>
        <div class="dropdown" aria-haspopup="true" aria-expanded="false">
          <form action="/weathermap" method="post">
          <select name="mapType" id="mapType" onchange="this.form.submit()">
            <option default>Choose View</option>
            <option name="mapType" value="temp_new">Temperature</option>
            <option name="mapType" value="wind_new">Wind</option>
            <option name="mapType" value="precipitation_new">Precipitation</option>
            <option name="mapType" value="clouds_new">Clouds</option>
          </select>
        </div>
      </form>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col" id='map'>
      </div>
    </div>

  </div>
  <script>
    var map = L.map('map').setView([49.0504,-122.3045], 5);
    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=4W6ASDAJiXonjB3GxPOe', {
      attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy;OpenStreetMap contributors</a>',
    }).addTo(map);
    map.addLayer(new L.TileLayer("http://tile.openweathermap.org/map/"+"<%=map_type%>"+"/{z}/{x}/{y}.png?appid=9ea0171656c27a5884112d1c503edab8"));
  </script>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
