.diff-color{
  background: rgb(121,122,158);
background: radial-gradient(circle, rgba(121,122,158,1) 0%, rgba(16,94,186,1) 100%);

}
h1{
  font-family: 'Rubik', serif;
  font-size: 48px;
}
h3{
  font-family: 'Rubik', serif;
  font-size: 24px;
}

h6{
  font-family: 'Rubik', serif;
  font-size: 12px;
}
.borderno{
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 20px;
  height: 43px;
  outline: none;
  padding: 10px 25px 2px 5px;
  width: 100%;
  background: transparent;
}
/* this is used for the map leaflet */
#map {
  height: 1000px;
  width: 5000px;

}
#yo{
  background-color: white;
}
